.Header {
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

button {
    background-color: #D4D4D4;
    border-style: none;
    border-radius: 8px;
    margin: 5px;
}

button:hover {
    background-color: #89AFCD;
}

